* {
  font-family: "Poppins", sans-serif;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.card-content {
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  background-color: #eeeeee;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 16px;
  gap: 10px;
}

.card-content:hover {
  transform: scale(1.03);
}