h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 12rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
}

p {
  font-size: 1.5rem;
}

.home-content {
  height: 91.5vh;
  background-color: #171010;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

.text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-input {
  width: 20%;
}
